<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">
    <title>C'est chaud !</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"></head>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<body>
    <div class="app-wrapper bg-black-al5 white">
        <div class="section-wrapper">
            <!-- start screen -->
            <section id="start" class="bg-black-al4 app-section">
                <!-- thermometer user -->
                <div class="thermo-wrapper">
                    <p class="thermometer">
                        <span class="thermo-2deg">+2&deg;</span>
                        <span id="gaugeValue" class="thermo-level" style="height:0rem"></span>
                    </p>
                </div>
                <ul class="data-user">
                    <li class="data-celsius mb1 pr1">1<span>.78&deg;</span></li>
                    <li class="data-hot"><img src="images/soleil.png" alt="C'est chaud" width="24" heigh="24" /><span id="hotValue"></span></li>
                    <li class="data-cold"><img src="images/flocon.png" alt="C'est cool" width="24" heigh="24" /><span id="coldValue"></span></li>
                </ul>

                <!--<ul class="start-stats">-->
                    <!--<li><img src="images/flocon.png" alt="C'est chaud" width="24" heigh="24" />121</li>-->
                    <!--<li><img src="images/soleil.png" alt="C'est chaud" width="24" heigh="24" />56</li>-->
                <!--</ul>-->
            </section>
            <!-- news feed -->
            <section id="newsfeed" class="bg-black-al1 app-section pl2 pr2" style="display:none">
                <article>
                    <p class="news-title toggle" data-icon="a">Les trois bonnes nouvelles pour le climat du sommet de Lima</p>
                    <div class="expand clearfix mt1 pt2 pb2 pl1 pr1">
                        <p class="h4 pb1">Les trois bonnes nouvelles pour le climat du sommet de Lima</p>
                        <p><strong>CLIMAT</strong> On avait tendance à désespérer des sommets mondiaux sur le climat, mais cette année pourrait marquer un tournant dans les négociations…</p>
                        <p><img src="http://img.20mn.fr/FO4cEPXgSXqvLHyap1AwkQ/648x415_ministre-peruvien-environnement-ouvre-cop20-1er-decembre-2014-lima.jpg" /></p>
                        <p>Trouver un accord sur le climat ne devrait pas être le Pérou. Alors que les négociations piétinaient depuis l’échec retentissant du sommet de Copenhague en 2009, <a href="http://www.20minutes.fr/planete/1491819-20141201-enjeux-conference-internationale-climat-cinq-chiffres">les réunions qui ont lieu à Lima jusqu’au 12 décembre pourraient enfin ouvrir la voie à un accord mondial</a>. Pour les membres de <a href="http://www.iddri.org/" target="_blank">l’Institut du développement durable et des relations internationales (Iddri)</a>, Lima ouvre même la voie à un sommet réussi à Paris en 2015. Voici pourquoi.</p>
                        <p class="bold">Les Etats-Unis et la Chine s’engagent</p>
                        <p>Ils étaient les mauvais élèves du climat, voilà que les Etats-Unis et la Chine, deux des plus gros émetteurs de gaz à effet de serre au monde, <a href="http://www.20minutes.fr/planete/1478747-20141112-climat-etats-unis-chine-entendent-accord-historique">ont convenu en novembre dernier de réduire leurs émissions de CO2.</a>&nbsp;«Cela donne une tonalité tout à fait différente aux négociations, estime Teresa Ribera, directrice de l’Iddri. Cet engagement signifie que le climat et la transition énergétique deviennent un sujet important pour eux.»&nbsp;Même si les objectifs fixés par les Etats-Unis et la Chine peuvent sembler insuffisants, le message politique est fort.</p>

                        <hr class="mt1 mb1" />
                        <p class="bold">Qu'en pensez-vous ?</p>
                        <p>Financer l’adaptation des pays en développement au changement climatique via le fonds vert, c’est… </p>
                        <div class="align-center" style="width:48%;float:left;">Indispensable<a href="#" class="align-left button-vote button-hot">C'est chaud</a></div>
                        <div class="align-center" style="width:48%;float:right;">Impossible<a href="#" class="align-left button-vote button-cold">C'est cool</a></div>



                    </div>

                </article>
                <article>
                    <p class="news-title" data-icon="T">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="a">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="a">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="F">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="T">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="a">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="a">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="F">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="T">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="a">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="a">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
                <article>
                    <p class="news-title" data-icon="F">Lorem ipsum si amet color bla bla bla semper toto.</p>
                </article>
            </section>
            <section id="categories" class="bg-black-al5 app-section" style="display:none">
                categories
            </section>
        </div>
        <nav class="app-nav">
            <ul>
                <li class="float-left"><a href="#" data-icon="L"><em>20 Minutes</em></a></li>
                <li class="float-right"><a href="#" data-icon="=" data-target="#categories"><em>Categories</em></a></li>
                <li class="float-right"><a href="#" class="link-newsfeed" data-target="#newsfeed">&#9776;<em>Newsfeed</em></a></li>
                <li class="float-right"><a href="#" data-icon="u" data-target="#start"><em>Mon compte</em></a></li>
            </ul>
        </nav>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script>
        $('document').ready(function(){
            $('[data-target]').click(function(){
                var _target = $(this).attr('data-target');
                $('.app-section').hide();
                $(_target).show();
            })

            $('.toggle').click(function() {
                $('.expand').toggle();
            })
        });

		var socket = io.connect('http://milo.20minutes.lh:3000');

		socket.emit('loadFirstTime', 'load');

		socket.on('loadFirstTime', function(data){
			$('#gaugeValue').attr('style', 'height:'+data.gaugeValue+'rem');
		    $('#hotValue').html(data.totalHot);
		    $('#coldValue').html(data.totalCold);
		});

		socket.on('updateGauge', function(data){
		    console.log(data);
		    $('#gaugeValue').attr('style', 'height:'+data.gaugeValue+'rem');
		    $('#hotValue').html(data.totalHot);
		    $('#coldValue').html(data.totalCold);
		});
	</script>
</body>
</html>
