<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">
    <title>C'est chaud !</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"></head>
<body>
<div class="app-wrapper bg-black-al4 white">
    <nav class="app-nav">
        <ul>
            <li class="float-left"><a href="#" data-icon="L"><em>20 Minutes</em></a></li>
            <li class="float-right"><a href="#" data-icon="R"><em>Rafraîchir</em></a></li>
            <li class="float-right"><a href="#" data-icon="u"><em>Mon compte</em></a></li>
        </ul>
    </nav>
    <section id="start" class="app-section">
        <div class="thermo-wrapper">
            <p class="thermometer">
                <span class="thermo-2deg">2&deg;C</span>
            </p>
        </div>

        <ul class="start-thermometer">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="start-stats">
            <li>121 flocons</li>
            <li>56 soleils</li>
        </ul>
    </section>
    <section id="newsfeed" class="app-section">
        newsfeed
    </section>
    <section id="categories" class="app-section">
        categories
    </section>
</div>

</body>
</html>
