/* Handles oembed-all styles */
.oembed-video
    @extends .ws-responsive-container

    iframe
    object
        @extends .ws-responsive-content

.oembedall-container
    a.oembed
    br
        display none