@import '../beerenberg/css/beerenberg.styl'
@import 'modules/*'

body
    position relative
    background url(../images/background.jpg) no-repeat center
    background-size cover
    background-attachment fixed

.app-wrapper
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    height

.app-nav
    $s = 4.8 rem
    position fixed
    top 0
    width 100%
    height $s
    background-color black

    em
        display none

    li
        list-style-type none

    a
        display inline-block
        width $s
        height $s
        color #f1f1f1
        text-align center
        line-height $s

        &:before
            font-size $s * .5

    .link-newsfeed
        font-size 2.7rem
        margin-top -.3rem

.app-section
    width 100%
    padding-top 6rem
    float left

#newsfeed
    [data-icon]:before
        display block
        float left
        font-family .9em
        margin-right .6rem
        margin-bottom .6rem

    article
        @extends .pt1
        @extends .pb1
        border-top 1px solid white

.news-title
    font-size 1.4rem
    font-family 'Open Sans'
    line-height 1

