/*
 * Colors
 * Defines generic backgrounds and texts colors
 */

$color-bg-base = #f8f8f8 // background color

/*$color-base = #333333  // default text color*/
$color-base = #4c4d4e  // default text color
$color-links = #0091aa  // default links color
$color-highlight = #cc190f  // highlighted text color

$color-default = #0b4892
$color-sport  = #00b9f3
$color-entertainment = #cc190f
$color-economy = #053042
$color-community = #930b48
$color-weird = #ef2a82
$color-partner = #ff5400
$color-planet = #48930b
$color-media = #000000
$color-hightech = #686868
$color-native = #fffacd

/* Section colors */
$base               = (base          $color-base)
$default            = (default       $color-default)
$sport              = (sport         $color-sport)
$entertainment      = (entertainment $color-entertainment)
$economy            = (economy       $color-economy)
$community          = (community     $color-community)
$weird              = (weird         $color-weird)
$partner            = (partner       $color-partner)
$planet             = (planet        $color-planet)
$media              = (media         $color-media)
$hightech           = (hightech      $color-hightech)
$native             = (native        $color-native)

$colors = $base $default $sport $entertainment $economy $community $weird $partner $planet $media $hightech $native

for $item in $colors
    .border-color-{$item}
        border 1px solid $item[1]!important

    .bg-{$item}
         background-color $item[1]

    .color-{$item}
        color $item[1]

    for $i in 1..4
        .bg-{$item}-dk-{$i}
            background-color darken($item[1], $i * 20%)

        .bg-{$item}-lt-{$i}
            background-color lighten($item[1], $i * 20%)

        .color-{$item}-dk-{$i}
            color darken($item[1], $i * 20%)

        .color-{$item}-lt-{$i}
            color lighten($item[1], $i * 20%)

.white
    color white
