/*
 *
 * Fonts
 * (WIP - needs description)
 */
/* ===== OPEN SANS ===== */
@font-face
    font-family "Open Sans"
    font-weight normal
    font-style normal
    src url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff') format('woff')

@font-face
    font-family "Open Sans"
    font-weight bold
    src url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff') format('woff')

@font-face
    font-family "Open Sans"
    font-weight bold
    font-style italic
    src url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff')

@font-face
    font-family "Open Sans"
    font-weight 900
    src url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype')

@font-face
    font-family "Open Sans"
    font-weight 900
    font-style italic
    src url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff')

/* ===== ICONS ===== */
@font-face
    font-family '20mn'
    src url('../fonts/20mn.eot')
    src url('../fonts/20mn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/20mn.woff') format('woff')
    font-weight normal
    font-style normal


/*
 * We use data attributes to insert icons :
 * See 20mn.jpg for icon/letter correspondance
 */
.icon
    &:after
    &:before
        font-family "20mn"
        speak none
        font-weight normal
        font-variant normal
        text-transform none
        line-height 1

.data-icon
    @extends .icon

[data-icon]
    @extends .data-icon

    &:before
        content attr(data-icon)

.data-icon-after
    @extends .icon

[data-icon-after]
    @extends .data-icon-after

    &:after
        content attr(data-icon-after)

.icon
[data-icon]
[data-icon-after]
    p
    ul
        overflow hidden

    em
        display none
