/* Arrows */
fn_makeArrow($size)
    .arrow
        width $size
        height $size
        font-size 0.6rem * $size
        text-align center
        line-height $size
        color white

        &.bg-black-al4:hover
            background rgba(black, 0.6)

    .arrow-up
        absolute top 0 left 50%
        margin-left -0.5 * $size
        border-radius 0 0 $size $size

    .arrow-down
        absolute bottom 0 left 50%
        margin-left -0.5 * $size
        border-radius $size $size 0 0

    .arrow-right
        absolute top 50% right 0
        margin-top -0.5 * $size
        border-radius $size 0 0 $size

    .arrow-left
        absolute top 50% left 0
        margin-top -0.5 * $size
        border-radius 0 $size $size 0

/* Set arrows */
fn_makeArrow(6rem)

@media $media-sm
    fn_makeArrow(9rem)

@media $media-md
    fn_makeArrow(12rem)
